---
layout: base/base.pug
tags: project
permalink: "projects/{{title}}/"
---

mixin things(property, title)
    if property
        h2=title
        ul
            each prop in property 
                li=prop 

main
    h1=title
    
    h2.sr-only Intro
    p=intro
    
    +things(achievements, "Achievements")

    +things(future_improvements, "Future improvements")


    if hrefs
        h2 Links:
        ul
            each link in hrefs
                -
                    let url = link.url.toLowerCase();
                    let host = null;
                    let text;
                    if (url.includes("github")) { host = "GitHub" }

                    if (host) { text = `View the ${link.name} repo on ${host}`; }
                    else { text = `Visit the ${title} website`; }
                li 
                    a(href=link.url)=text
    
