---
layout: base/base.pug
tags: project
---

main
    h1=title
    
    h2.sr-only Intro
    p=intro
    
    h2 Achievements
    ul
        each achievement in achievements 
            li=achievement 
    // !{content}

    h2 Repositories:
    ul
        each repo in repos
            -
                let url = repo.url.toLowerCase();
                let host;
                if (url.includes("github")) { host = "GitHub" } 
            li 
                a(href=repo.url) View the !{repo.name} repo on !{host}