---
layout: base.pug
tags: Project
permalink: "projects/{{path}}/"
---

main#main
    | !{content}

    if hrefs
        h2 Links:
        ul
            each link in hrefs
                -
                    let url = link.url.toLowerCase();
                    let host = null;
                    let text;
                    if (url.includes("github")) { host = "GitHub" }

                    if (host) { text = `View the ${link.name} repo on ${host}`; }
                    else { text = `Visit the ${title} website`; }
                li 
                    a(href=link.url)=text
    
