---
layout: project.pug
tags: Project
pagination:
    data: DenperidgeProjects
    size: 1
    alias: project
eleventyComputed:
    permalink: "projects/#{project.path}/index.html"
    titleOverride: "#{project.title} - Project - Denperidge.com"
---

main#main

    h1 #[a(href="..") Projects/] #{project.title}

//.
    #{project.intro}

//
    ## Achievements
    #{project.achievements}

    ## Future improvements
    #{project.future_improvements}



    if hrefs
        h2 Links:
        ul
            each link in hrefs
                -
                    let url = link.url.toLowerCase();
                    let host = null;
                    let text;
                    if (url.includes("github")) { host = "GitHub" }

                    if (host) { text = `View the ${link.name} repo on ${host}`; }
                    else { text = `Visit the ${title} website`; }
                li 
                    a(href=link.url)=text
    
